
/*
 * Full-page application style keen dashboard
 */

 body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
body.application div[class^="col-"] {
  padding-left: 2px;
  padding-right: 2px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse {
  background-color: #3d4a57;
  border-color: #333;
}
.navbar-inverse .navbar-nav > li > a,
.navbar a.navbar-brand {
  color: #fbfbfb; 
  text-decoration: none;
}

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 5px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 5px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

/*
 *  For the Toggles
 */
.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.slow .toggle-group label {padding-bottom: 0px; padding-top:0px;}

/*
 * Plot heights
 */

@media (max-width: 991px) {
  #gender-chart {height:500px;}
  #household-chart {height:500px;}
  #map{height:500px;}
  #ward-chart{height:500px;}
  #time-chart{height:500px;}
  #age-chart{height:500px;}
  #year-chart{height:500px;}
}

@media (min-width: 992px) {
  #gender-chart {height:177px;}
  #household-chart {height:177px;}
  #map{height:385px;}
  #ward-chart{height:370px;}
  #time-chart{height:215px;}
  #age-chart{height:215px;}
  #year-chart{height:180px;}
} 

/*
 * Imported from Nick Hand
 */

#deaths-display {
    font-size: 1.1em;
}

#fraction-display {
    font-size: 1.1em;
}

.nav.navbar-nav.navbar-right li a:hover {
    color: #C0C0C0;
}

.nav.navbar-nav.navbar-left li a:hover {
    color: #C0C0C0;
}

.dc-chart g.row text {
    fill: black;
}

/* Social Icons */
.social-icons{
    padding-top: 10px;
    margin-bottom: 35px;
}
.social-icons .btn.btn-clear{
    border: 1px solid #fff;
}
.icon {
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon.circle {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 0;
	border-radius: 100%;
	display: inline-block;
	font-size: 1.25em;
	height: 2.25em;
	left: 0;
	line-height: 2.25em;
	text-align: center;
	text-decoration: none;
	top: 0;
	width: 2.25em;
}

.icon.circle:hover {
	top: -0.2em;
}

.icon.circle.fa-twitter {
	background: #70aecd;
	color: white;
}

.icon.circle.fa-twitter:hover {
	background: #7fb7d2;
}

.icon.circle.fa-github {
	background: #dcad8b;
	color: white;
}

.icon.circle.fa-github:hover {
	background: #e1b89b;
}

.icon.circle.fa-linkedin {
	background: #015786;
	color: white;
}

.icon.circle.fa-linkedin:hover {
	background: #016499;
}

.icon > .label {
display: none;
}

/* Map */
#map {
    position: inherited;
    float: left;
    top: 1%;
    width: 100%;
    z-index: 1;
}

.info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}

.info h4 {
margin: 0 0 5px;
color: #777;
}

.info p {
margin: 0 0 5px;
color: #777;
}

/* Heat map legend */
.legend {
text-align: left;
line-height: 18px;
color: #555;
}

.legend i {
width: 18px;
height: 18px;
float: left;
margin-right: 8px;
opacity: 0.7;
}

/* Footer */
#footer {
background: #e8eef4;
color: #7c8081;
padding: 1em 5em 0em 5em;
text-align: center;
}

#footer .copyright {
text-align: center;
padding:10px 0;
}

#footer .copyright a {
color: inherit;
}

#footer .copyright a:hover {
text-decoration: underline;
}

#footer .copyright li {
display: inline-block;
margin-left: 1em;
padding-left: 1em;
border-left: dotted 1px;
}

#footer .copyright li:first-child {
margin: 0;
padding: 0;
border: 0;
}
